

.mainContainer {
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--dark);
}

.queueLoadingMainContainer {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark);
}

.opponentCardContainer {
  position: fixed;
  width: fit-content;
  top: 5%;
  left: 0;
  right: 0;
  margin: auto;
}