.loginMainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
}

.loginContainer {
  display: flex;
  flex-direction: column;
}

.logoImage {
  margin-bottom: 40px;
  place-self: center;
}
